@using DreamDay.ViewModels
@model DreamDay.ViewModels.LoginViewModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
      
</div>
</body>
</html>