@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Dashboard"; // Specify the layout
    ViewData["Title"] = "Couple Dashboard"; // Set the page title
}

<main>
    <h1>Couple Dashboard</h1>
    <p>Welcome to the Couple Dashboard!</p>

</main>